- name: Ensure rclone group exists
  become: true
  ansible.builtin.group:
    name: rclone
    gid: 2500
- name: Ensure rclone-server user exists
  become: true
  ansible.builtin.user:
    name: rclone-server
    uid: 2000
    group: rclone
    system: true
- name: Ensure restic data directory exists
  become: true
  ansible.builtin.file:
    path: /var/mnt/backup/data/restic
    state: directory
    owner: root
    group: rclone
    mode: '0770'
- name: Create restic_username secret
  become: true
  containers.podman.podman_secret:
    state: present
    name: restic_username
    data: "{{ (lookup('community.hashi_vault.vault_kv2_get', 'system/data-backup-server/restic_credentials', url=vault_address, engine_mount_point=vault_secret_mount)).secret.username }}"
- name: Create restic_password secret
  become: true
  containers.podman.podman_secret:
    state: present
    name: restic_password
    data: "{{ (lookup('community.hashi_vault.vault_kv2_get', 'system/data-backup-server/restic_credentials', url=vault_address, engine_mount_point=vault_secret_mount)).secret.password }}"
- name: Create rclone-restic-server quadlet
  become: true
  containers.podman.podman_container:
    name: rclone-restic-server
    state: quadlet
    image: ghcr.io/rclone/rclone:1.72.1
    uidmap: ["0:2000"]
    gidmap: ["0:2500"]
    secrets:
    - restic_username,type=env,target=RCLONE_USER
    - restic_password,type=env,target=RCLONE_PASS
    command: [serve, restic, -v, --addr, '0.0.0.0:8080', /mnt/data/restic]
    volume:
    - /var/mnt/backup/data/restic:/mnt/data/restic:z
    ports:
    - "8080:8080"
    quadlet_options:
    - |
      [Service]
      Restart=on-failure
      RestartSec=5s

      [Install]
      WantedBy=default.target
  register: container_definition
- name: systemd daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
- name: (Re)start rclone server service
  become: true
  ansible.builtin.systemd:
    name: rclone-restic-server
    enabled: true
    state: "{{ 'restarted' if container_definition.changed else 'started' }}"
