- name: Find id of device with serial - {{ disk.serial }}
  ansible.builtin.shell: |
    set -o pipefail
    lsblk -o id-link,name,serial -SJ | jq -r '.blockdevices[] | select(.serial == "{{ disk.serial }}") | .["id-link"]'
  changed_when: false
  register: disk_device_command
- name: Create a new ext4 primary partition
  become: true
  community.general.parted:
    device: "/dev/disk/by-id/{{ disk_device_command.stdout }}"
    number: 1
    state: present
    fs_type: ext4
    label: gpt
    name: "{{ disk.label }}"
- name: "Create a ext4 filesystem on /dev/disk/by-id/{{ disk_device_command.stdout }}-part1"
  become: true
  community.general.filesystem:
    fstype: ext4
    dev: "/dev/disk/by-id/{{ disk_device_command.stdout }}-part1"
- name: Find id of primary partition - {{ disk.serial }}
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    blkid -o json -t PARTLABEL={{ disk.label }} | jq -r '.uuid'
  changed_when: false
  register: disk_fs_uuid_command
- name: Configure volume mount - {{ disk.mountpoint }}
  become: true
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=Mount /dev/disk/by-uuid/{{ disk_fs_uuid_command.stdout }} to {{ disk.mountpoint }}
      After=local-fs-pre.target

      [Mount]
      What=/dev/disk/by-uuid/{{ disk_fs_uuid_command.stdout }}
      Where={{ disk.mountpoint }}
      Type=ext4
      Options=defaults

      [Install]
      WantedBy=default.target
    dest: /etc/systemd/system/{{ (disk.mountpoint | split('/') | join('-'))[1:] }}.mount
    owner: root
    group: root
    mode: "0755"
  register: mount_unit
- name: "Enable mount unit - {{ disk.mountpoint }}"
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: "{{ (disk.mountpoint | split('/') | join('-'))[1:] }}.mount"
    state: "{{ 'restarted' if mount_unit.changed else 'started' }}"
    enabled: true
- name: "Ensure volume mount is owned by {{ disk.owner }}"
  become: true
  ansible.builtin.file:
    path: "{{ disk.mountpoint }}"
    state: directory
    owner: "{{ disk.owner }}"
    group: "{{ disk.group | default(disk.owner) }}"
    mode: "{{ disk.mode }}"
