- name: Install Dependencies
  become: true
  ansible.builtin.apt:
    state: present
    name:
    - python3
    - python3-dev
    - python3-venv
    - python3-setuptools
    - python3-virtualenv
    - libaugeas-dev
    - gcc
- name: Install certbot In Venv
  become: true
  ansible.builtin.pip:
    state: present
    virtualenv: /opt/certbot
    name:
    - certbot
    - certbot-dns-cloudflare
- name: Symlink certbot To /usr/bin
  become: true
  ansible.builtin.file:
    state: link
    src: /opt/certbot/bin/certbot
    dest: /usr/bin/certbot
