apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-tk831-default
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:15.1
  instances: 1
  primaryUpdateStrategy: unsupervised
  superuserSecret:
    name: postgres-default-admin-credentials
  enableSuperuserAccess: true
  storage:
    storageClass: proxmox-zfs
    size: 20Gi
    resizeInUseVolumes: false
  walStorage:
    storageClass: proxmox-zfs
    size: 2Gi
    resizeInUseVolumes: false
  postgresql:
    parameters:
      max_slot_wal_keep_size: "1GB"
  # bootstrap:
  #   recovery:
  #     source: postgres-default
  managed:
    roles:
    - name: gitea
      ensure: present
      comment: Gitea app user
      superuser: false
      login: true
      passwordSecret:
        name: postgres-tk831-default-role-gitea
    - name: keycloak
      ensure: present
      comment: Keycloak app user
      superuser: false
      login: true
      passwordSecret:
        name: postgres-tk831-default-role-keycloak
    - name: nextcloud
      ensure: present
      comment: Nextcloud app user
      superuser: false
      login: true
      passwordSecret:
        name: postgres-tk831-default-role-nextcloud
    - name: paperless
      ensure: present
      comment: Paperless app user
      superuser: false
      login: true
      passwordSecret:
        name: postgres-tk831-default-role-paperless
  # externalClusters:
  # - name: postgres-default
  #   barmanObjectStore:
  #     endpointURL: https://s3.willtaylor.info
  #     destinationPath: s3://ssd-cnpg-postgres-default/
  #     s3Credentials:
  #       accessKeyId:
  #         name: postgres-default-barman-s3-credentials
  #         key: access_key
  #       secretAccessKey:
  #         name: postgres-default-barman-s3-credentials
  #         key: secret_key
  #     wal:
  #       compression: gzip
  #       maxParallel: 8
  #       encryption: AES256
  # backup:
  #   barmanObjectStore:
  #     endpointURL: https://s3.willtaylor.info
  #     destinationPath: s3://ssd-cnpg-postgres-default/
  #     s3Credentials:
  #       accessKeyId:
  #         name: postgres-default-barman-s3-credentials
  #         key: access_key
  #       secretAccessKey:
  #         name: postgres-default-barman-s3-credentials
  #         key: secret_key
  #     wal:
  #       compression: gzip
  #       maxParallel: 8
  #       encryption: AES256
  #   retentionPolicy: 7d
  resources:
    requests:
      memory: "512Mi"
