- name: Ensure pve enterprise repositories do not exist
  become: true
  loop:
  - pve-enterprise.list
  - pve-enterprise.sources
  - ceph.list
  file:
    path: "/etc/apt/sources.list.d/{{ item }}"
    state: absent
- name: Ensure no-subscription repositories are configured
  become: true
  loop:
  - name: pve-no-subscription.list
    content: "deb http://download.proxmox.com/debian/pve {{ ansible_facts['distribution_release'] }} pve-no-subscription"
  - name: ceph-no-subscription.list
    content: "deb http://download.proxmox.com/debian/ceph-squid {{ ansible_facts['distribution_release'] }} no-subscription"
  copy:
    dest: /etc/apt/sources.list.d/{{ item.name }}
    owner: root
    group: root
    mode: '0644'
    content: "{{ item.content }}\n"
- name: Refresh apt
  become: true
  apt:
    update_cache: true
