[Unit]
Description=Restic backup timer

[Timer]
OnCalendar={{ systemd.on_calendar }}
Persistent=true
Unit=restic-backup-{{ systemd.unit_suffix }}.service
RandomizedDelaySec=1h
FixedRandomDelay=true

[Install]
WantedBy=default.target
