[Unit]
Description=Restic backup
[Service]
Type=oneshot
ExecStart=/opt/restic backup -r {{ repository.url }} {{ directories | join(' ') }}
ExecStartPost=/opt/restic forget -r {{ repository.url }} --keep-daily {{ retention.daily }} --keep-weekly {{ retention.weekly }} --keep-monthly {{ retention.monthly }} --keep-yearly {{ retention.yearly }} --prune
EnvironmentFile=/etc/restic-{{ systemd.unit_suffix }}.conf
User=root
