[Unit]
Description=Restic backup
[Service]
Type=oneshot
ExecStart=restic backup -r {{ repository.url }} {{ directories | join(' ') }}
ExecStartPost=restic forget -r {{ repository.url }} --keep-daily {{ retention.daily }} --keep-weekly {{ retention.weekly }} --keep-monthly {{ retention.monthly }} --keep-yearly {{ retention.yearly }} --prune
EnvironmentFile=%h/.config/restic-backup.conf
